.place__title {
  width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  align-items: end;
  margin: 0;
}
 
@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1020px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 300px) and (max-width: 750px) {
  .place__title {
    margin: 0 16px;
    width: 90vw;
    font-size: 32px;
    line-height: 35px;
  }
}