.lead {
  max-width: 984px;
  margin: 56px 148px 0 148px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  

}

@media screen and (max-width: 800px) {
  .lead {
    margin: 48px 0 0;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .lead {
    margin: 48px 48px 0;
    max-width: 928px;
  }
}