.intro {
  position: relative;
  margin: 92px auto 92px 148px;
  max-width: 690px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .intro {
    margin: 92px auto 92px 48px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1020px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px;
  }
}

@media screen and (min-width: 288px) and (max-width: 750px) {
  .intro {
    margin: 64px 16px;
    min-width: 288px;
    width: 90%;
  }
}